<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.auction.mapper.QnaBoardMapper">
 	<insert id="writeBoard">
 		INSERT INTO qnaboard(title,content,ID) VALUES (#{title},#{content},#{ID})
 	</insert>
 	<select id="selectBoard" resultType="com.auction.vo.QnaBoardVo">
 		SELECT * FROM qnaboard ORDER BY qbno DESC LIMIT 10 OFFSET #{offset}
 	</select>
 	<select id="selectBoardAll" resultType="com.auction.vo.QnaBoardVo">
 		SELECT * FROM qnaboard
 	</select>
 	<select id="selectContent" resultType="com.auction.vo.QnaBoardVo">
 		SELECT * FROM qnaboard WHERE qbno=#{qbno}
 	</select>
 </mapper>
