<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace = "com.auction.mapper.SignUpMapper">
	<insert id = "insert"><!-- 회원가입 -->
		INSERT INTO member(ID, pw, name, addr, phonenum, email, birth, grade) VALUES(#{ID},#{pw}, #{name}, #{addr}, #{phonenum}, #{email}, #{birth}, #{grade})
	</insert>
	
	<select id="login" resultType = "com.auction.vo.MemberDto"><!-- 로그인 -->
		select * from member where ID = #{ID} and pw = #{pw}
	</select>
	
	<update id="memebrUpdate">
		UPDATE member SET pw = #{pw}, name = #{name} WHERE ID = #{ID}
	</update>
	
</mapper>